<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div>
        <a href="/">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="authContainerDiv err">
    <h1 class="authHeaderH2">Помилка</h1>
    <h2>При виконанні останньої дії сталася помилка</h2>
</div>
{{> footer}}
</body>
</html>