<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv rightDiv">
    {{#login}}
        <div class="roleDiv">
            <p id="userDataP">{{role}}: {{login}}</p>
        </div>
        <div class="authImgDiv">
            <a href="/" id="logoutA">
                <img id="authImg" src="/images/logout3.png" alt="logout">
            </a>
        </div>
    {{/login}}
    {{^login}}
        <div class="roleDiv">
            <p id="userDataP">Користувач</p>
        </div>
       <!-- <div class="authImgDiv">
            <a href="/auth/login">
                <img id="authImg" src="/images/user.png" alt="login">
            </a>
        </div> -->
    {{/login}}
</div>
<div class="mainContainerDiv">
   <!--  <img src="images/forms.png" alt="documents">-->
    <h1 class="authHeaderH2">Щоб переглянути реєстр друкованих засобів масової інформації </br>та інформаційних агентств, натисніть на кнопку</h1>
    <a href="/mass_medias/all">Переглянути</a>
</div>
{{> footer}}
</body>
<script src="/javascripts/homeScript.js"></script>
</html>