<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div class="authImgDiv">
        <a href="/users/{{id}}">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="menuDiv rightDiv">
    {{#login}}
        <div class="roleDiv">
            <p id="userDataP">{{role}}: {{login}}</p>
        </div>
        <div class="authImgDiv">
            <a href="/" id="logoutA">
                <img id="authImg" src="/images/logout3.png" alt="logout">
            </a>
        </div>
    {{/login}}
    {{^login}}
        <div class="roleDiv">
            <p id="userDataP">Користувач</p>
        </div>
        <div class="authImgDiv">
            <a href="/auth/login">
                <img id="authImg" src="/images/user.png" alt="login">
            </a>
        </div>
    {{/login}}
</div>
<div class="mainDiv">
    <div class="leftPartMainDiv">
        <p class="mainListP">Список логів</p>
        <div class="scrollableDocsDiv2" id="style-1">
            {{#logs}}
                <div>
                    {{^is_edited}}
                        <a href="/mass_medias/created/{{form_id}}">
                            <div>
                                <p>Дія:&nbsp;&nbsp;{{type}}</p>
                                <p>Дата зміни/створення:&nbsp;&nbsp;{{date}}</p>
                                <p>Ким змінено/створено:&nbsp;&nbsp;{{login}}</p>
                                <p>Змі або ІА:&nbsp;&nbsp;№{{number}}&nbsp;&nbsp;</p>
                                <p>Серія:&nbsp;&nbsp;№{{series}} </p>
                            </div>
                        </a>
                    {{/is_edited}}
                    {{#is_edited}}
                        <a href="/mass_medias/updated/{{id}}">
                            <div>
                                <p>Дія:&nbsp;&nbsp;{{type}}</p>
                                <p>Дата зміни/створення:&nbsp;&nbsp;{{date}}</p>
                                <p>Ким змінено/створено:&nbsp;&nbsp;{{login}}</p>
                                <p>Змі або ІА:&nbsp;&nbsp;№{{number}}&nbsp;&nbsp;</p>
                                <p>Серія:&nbsp;&nbsp;№{{series}} </p>
                                <p>(Старе значення) Змі або ІА:&nbsp;&nbsp;№{{old_number}}</p>
                                <p>(Старе значення) Серія:&nbsp;&nbsp;№{{old_series}}</p>
                            </div>
                        </a>
                    {{/is_edited}}
                </div>
            {{/logs}}
            {{^logs}}
                <p class="mainListP borderedP">Логи не існують</p>
            {{/logs}}
        </div>
    </div>
    <div class="rightPartMainDiv">
        <p class="mainListP">Пошук (фільтрація)</p>
        <form action="/mass_medias/filteredLogs" , method="GET" , enctype="multipart/form-data">
            <div class="filtersMainDiv">
                <div class="tileDive">
                    <img src="/images/calendar.png" alt="date of usage">
                    <p>Дата зміни/створення</p>
                    <div>
                        <input class="dateInput" type="date" name="date"/>
                    </div>
                </div>
                <div class="tileDive">
                    <img src="/images/user.png" alt="user">
                    <p>Ким змінено/створено</p>
                    <div>
                        <select class="statusInput" name="login">
                            <option value="">-- логін --</option>
                            {{#logins}}
                                <option value="{{login}}">{{login}}</option>
                            {{/logins}}
                        </select>
                    </div>
                </div>
                <div class="tileDive">
                    <img src="/images/status.png" alt="action type">
                    <p>Вид дій</p>
                    <div>
                        <select class="statusInput" name="type">
                            <option value="">-- вид дії --</option>
                            {{#types}}
                                <option value="{{type}}">{{type}}</option>
                            {{/types}}
                        </select>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Пошук">
                </div>
            </div>
        </form>
    </div>
</div>
{{> footer}}
</body>
<script src="/javascripts/logoutScript.js"></script>
</html>