<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div class="authImgDiv">
        <a href="/">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="menuDiv rightDiv">
    {{#login}}
        <div class="roleDiv">
            <p id="userDataP">{{role}}: {{login}}</p>
        </div>
        <div class="authImgDiv">
            <a href="/" id="logoutA">
                <img id="authImg" src="/images/logout3.png" alt="logout">
            </a>
        </div>
    {{/login}}
    {{^login}}
        <div class="roleDiv">
            <p id="userDataP">Користувач</p>
        </div>
        <div class="authImgDiv">
            <a href="/auth/login">
                <img id="authImg" src="/images/user.png" alt="login">
            </a>
        </div>
    {{/login}}
</div>
<div class="mainDiv">
    <div class="leftPartMainDiv">
        <div class="formDiv">
            {{#mass_media}}
                <div>
                    <div>
                        <img src="/images/document.png" alt="document">
                        <p class="firstP">Бланк&nbsp;&nbsp;№{{number}}</p>
                        <p>Серія&nbsp;&nbsp;№{{series}}</p>
                    </div>
                </div>
            {{/mass_media}}
        </div>
    </div>
    <div class="rightPartMainDiv">
            {{#mass_media}}
            <div class="filtersMainDiv">
                <div class="tileDive">
                    <img src="/images/calendar.png" alt="date of usage">
                    <p>Дата використання</p>
                    <div>
                        <p>{{date}}</p>
                    </div>
                </div>
                <div class="tileDive bigDiv">
                    <img src="/images/register.png" alt="registered on">
                    <p>Зареєстровано на</p>
                    <div class="initialsDiv">
                        <p>{{name}}</p>
                        <p>{{surname}}</p>
                        <p>{{midname}}</p>
                    </div>
                </div>
                <div class="tileDive tileDive2">
                    <img src="/images/status.png" alt="document status">
                    <p>Статус бланка</p>
                    <div>
                        <p>{{is_active}}</p>
                    </div>
                </div>
            </div>
            {{/mass_media}}
    </div>
</div>
{{> footer}}
</body>
</html>