<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div class="authImgDiv">
        <a href="/">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="menuDiv rightDiv">
    {{#login}}
        <div class="roleDiv">
            <p id="userDataP">{{role}}: {{login}}</p>
        </div>
        <div class="authImgDiv">
            <a href="/" id="logoutA">
                <img id="authImg" src="/images/logout3.png" alt="logout">
            </a>
        </div>
    {{/login}}
    {{^login}}
        <div class="roleDiv">
            <p id="userDataP">Користувач</p>
        </div>
        <div class="authImgDiv">
            <a href="/auth/login">
                <img id="authImg" src="/images/user.png" alt="login">
            </a>
        </div>
    {{/login}}
</div>
<div class="mainDiv">
    <div class="leftPartMainDiv">
        <p class="mainListP">Список ЗМІ та ІА</p>
        <div class="scrollableDocsDiv">
            {{#forms}}
                <div>
                    <a href="/mass_medias/{{id}}">
                        <div>
                            <p>Бланк&nbsp;&nbsp;№{{number}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Серія&nbsp;&nbsp;№{{series}}</p>
                        </div>
                    </a>
                </div>
            {{/forms}}
            {{^forms}}
                <p class="mainListP borderedP">ЗМІ або ІА з такими параметрами не знайдено</p>
            {{/forms}}
        </div>
        {{#isRegistrator}}
            <div class="aContainerDiv">
                <a href="/mass_medias/new" id="addA">Додати ЗМІ або ІА</a>
            </div>
        {{/isRegistrator}}
    </div>
    <div class="rightPartMainDiv">
        <p class="mainListP">Пошук (фільтрація)</p>
        <form action="/mass_medias/filtered" , method="get" , enctype="multipart/form-data">
            <div class="filtersMainDiv">
                <div class="tileDive">
               
                    <p>Дата держ. реєстрації</p>
                    <div>
                        <input class="dateInput" type="date" name="date_registration"/>
                    </div>
                </div>
                <div class="tileDive">
                   
                    <p>Серія свідоцтва</p>
                    <div>
                        <input class="seriesInput" type="number" placeholder="12" name="series"/>
                    </div>
                </div>
                <div class="tileDive">
                
                    <p>Номер свідоцтва</p>
                    <div>
                        <input class="numberInput" type="number" placeholder="1235" name="number"/>
                    </div>
                </div>
                 <div class="tileDive">
                 
                    <p>Орган, що зареєстрував</p>
                    <div>
                        <input class="numberInput" type="number" placeholder="0" name="who_registered"/>
                    </div>
                </div>

                <div class="tileDive bigDiv">
                  
                    <p>Засновник</p>
                    <div class="initialsDiv">
                        <input class="registeredOnInput" type="text" placeholder="Прізвище: Іванов" name="surname"/>
                        <input class="registeredOnInput" type="text" placeholder="Ім'я: Іван" name="name"/>
                        <input class="registeredOnInput" type="text" placeholder="По-батькові: Іванович"
                               name="midname"/>
                    </div>
                </div>
                <div class="tileDive">
                  
                    <p>Вид видання</p>
                    <div>
                        <select class="statusInput" name="status">
                            <option value="">-- вид --</option>
                            <option value="ЗМІ">ЗМІ</option>
                            <option value="ІА">ІА</option>
                            
                        </select>
                    </div>
                </div>
                <div class="tileDive">
                
                    <p>Назва видання</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Журнал &quot;Мрія&quot;" name="name"/>
                    </div>
                </div>

                <div class="tileDive">
                
                    <p>Мова видання</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Українська" name="language"/>
                    </div>
                </div>
                <div class="tileDive">
                
                    <p>Сфера розповсюдження</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Місцева" name="scope_of_distribution"/>
                    </div>
                </div>
                <div class="tileDive">
                
                    <p>Періодичність випуску</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Кожен місяць" name="frequency_of_issue"/>
                    </div>
                </div>
                <div class="tileDive">
                
                    <p>Обсяг</p>
                    <div>
                        <input class="numberInput" type="number" placeholder="1" name="amount"/>
                    </div>
                </div>
                <div class="tileDive">
                
                    <p>Програмні цілі</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Інформаційний" name="objectives"/>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Пошук">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- {{> footer}} -->
</body>
<!--<script>-->
<!--    window.onload(() => {-->
<!--        document.getElementById("userDataP").innerHTML = JSON.parse(localStorage.getItem("user")).role + ": " + JSON.parse(localStorage.getItem("user")).login-->
<!--    })-->
<!--</script>-->
<!--<script src="/javascripts/registration.js"></script>-->
</html>