<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div class="authImgDiv">
        <a href="/mass_medias/all">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="mainDiv">
    <div class="rightPartMainDiv newMassMedia" id="withoutLineDiv">
        <p class="mainListP">Нове ЗМІ або ІА</p>
        <form action="/mass_medias" , method="POST" , enctype="multipart/form-data">
            <div class="filtersMainDiv">
                <div class="tileDive">
                    <p>Вид видання</p>
                    <div>
                        <select class="statusInput" name="type">
                            <option value="">-- вид --</option>
                            <option value="ЗМІ">ЗМІ</option>
                            <option value="ІА">ІА</option>
                            
                        </select>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Серія</p>
                    <div>
                        <input class="seriesInput" type="number" placeholder="0" name="series"/>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Номер</p>
                    <div>
                        <input class="numberInput" type="number" placeholder="0" name="number"/>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Назва</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Газета &quot;Новини&quot;" name="name"/>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Мова видання</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Українська" name="language"/>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Сфера розповсюдження</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Місцевий" name="scope_of_distribution"/>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Періодичність випуску</p>
                    <div>
                        <input class="registeredOnInput" type="text" placeholder="Кожен місяць" name="frequency_of_issue"/>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Обсяг</p>
                    <div>
                        <input class="numberInput" type="number" placeholder="1" name="amount"/>
                    </div>
                </div>
                <div class="tileDive">
                    <p>Ким зарестровано</p>
                    <div>
                        <select class="statusInput" name="login">
                            <option value="">-- логін --</option>
                            {{#logins}}
                                <option value="{{login}}">{{login}}</option>
                            {{/logins}}
                        </select>
                    </div>
                </div>
                <div class="tileDive">
                    <p>На кого зарестровано</p>
                    <div>
                        <select class="statusInput" name="login_user">
                            <option value="">-- логін --</option>
                            {{#logins}}
                                <option value="{{login}}">{{login}}</option>
                            {{/logins}}
                        </select>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Додати">
                </div>
            </div>
        </form>
    </div>
</div>
{{> footer}}
</body>
</html>