<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div class="authImgDiv">
        <a href="/">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="menuDiv rightDiv">
    {{#login}}
        <div class="roleDiv">
            <a id="userDataP">{{role}}: {{login}}</a>
        </div>
        <div class="authImgDiv">
            <a href="/" id="logoutA">
                <img id="authImg" src="/images/logout3.png" alt="logout">
            </a>
        </div>
    {{/login}}
    {{^login}}
        <div class="roleDiv">
            <p id="userDataP">Користувач</p>
        </div>
        <div class="authImgDiv">
            <a href="/auth/login">
                <img id="authImg" src="/images/user.png" alt="login">
            </a>
        </div>
    {{/login}}
</div>
<div class="userPage">
    <div class="leftPartMainDiv" id="withoutLineDiv">
        <div class="formDiv">
            {{#user}}
                <div >
                    <div class='userInfo'>
                        <img src="/images/user.png" alt="document">
                        <p>Логін: {{login}}</p>
                        <p>Роль: {{role}}</p>
                        <p>ПІБ: {{name}} {{surname}} {{midname}}</p>
                        <p>Дата народження: {{birthday}}</p>
                        {{^isRegistrator}}
                            {{#isRegOnPage}}
                                <div class="registratorEditDiv">
                                    {{^is_active}}
                                        <button><a href="/users/activate/{{id}}">Активувати</a></button>
                                    {{/is_active}}
                                    {{#is_active}}
                                        <button><a href="/users/deactivate/{{id}}">Деактивувати</a></button>
                                    {{/is_active}}
                                </div>
                            {{/isRegOnPage}}
                        {{/isRegistrator}}
                    </div>
                </div>
            {{/user}}
        </div>
    </div>
    {{^view}}
        <div class="userPageActionsContainer">
            <div class="filtersMainDiv">
                <p class="panelUpr">Панель управління: </p>
                <div class="userAction">
                    <a class="userActionButton" href="/mass_medias/all">Перегляд ЗМІ та ІА</a>
                </div>

                 {{^isUser}}
                <div class="userAction">
                        <a class="userActionButton" href="/auth/registration/user">Зареєструвати нового Користувача</a>
                    </div>

                    <div class="userAction">
                        <a class="userActionButton" href="/users/users">Перегляд існуючих Користувачів</a>
                    </div>
                 {{/isUser}}
                {{^isRegistrator}}
                    <div class="userAction">
                        <a class="userActionButton" href="/users/registrators">Перегляд існуючих Реєстраторів</a>
                    </div>
                    <div class="userAction">
                        <a class="userActionButton" href="/auth/registration">Зареєструвати нового Реєстратора</a>
                    </div>
                    <div class="userAction">
                        <a class="userActionButton" href="/mass_medias/allLogs">Журнал дій</a>
                    </div>
                {{/isRegistrator}}
            </div>
        </div>
    {{/view}}
</div>
{{> footer}}
</body>
<script src="/javascripts/homeScript.js"></script>
</html>